mss
opencv-python
numpy
pyqt-timer-label>=0.0.1
pyqt-transparent-centralwidget-window>=0.0.1
pyqt-svg-button>=0.0.1
git+https://git@github.com/yjg30737/pyqt-color-button.git@main
pyqt-color-picker>=0.0.1
pyqt-find-path-widget>=0.0.1
pyqt-toast
